$color-bg: #011c26;
$color-bg-light: lighten(#011c26,30%);
$color-bulb:#d9f1f1;
$color-stem:#ccc;
$color-stem-dark:darken($color-stem,4%);
$color-switch:$color-stem;
$color-light: #fff;
$bulb-height: 500px;
$transition:200ms;

//开关外壳
.switch {
  width: 15%;
  background: mix($color-switch, $color-bg, 20%);
  transition: background $transition;
  margin: auto;
  border-radius: 2px;
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 180%;
  }
}

//开关
.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 4rem;
  border: 0;
  outline: none;
  cursor: pointer;
  &:before, &:after {
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-shadow: 2px 2px 0 2px rgba($color-bg, .2);
    background:mix($color-switch, $color-bg, 15%);
  }
	&:before {
					content: 'on';
					top: 0;
					left: 0;
					background:mix($color-switch, $color-bg, 20%);
	}
	&:after {
					content: 'off';
					bottom: 0;
					left:0;
					transition: all $transition;
	}
}

//整体框架
.wrapper {
				display: flex;
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: $color-bg;
				transition: all $transition;

				&:after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								left: 0;
								background: radial-gradient(transparent, rgba($color-bg, .6));
				}

}

//灯泡罩子
.bulb {
				width: 15%;
				position: relative;
				perspective: $bulb-height;
				margin: auto;
				&:after {
								content: '';
								display: block;
								padding: 100%;
				}
}

.glass {
				position: absolute;
				perspective: $bulb-height;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: .2;
				background: rgba($color-bulb, .2);
				border-radius: 100%/40%;
				transform: rotateX(-20deg);

				&:after {
								content: '';
								position: absolute;
								top: 2%;
								right: 5%;
								bottom: 5%;
								left: 5%;
								background: linear-gradient(rgba($color-bulb, 1), transparent);
								border-radius: 100%/40%;
				}
}

.filament {
				border: 3px solid $color-bg;
				position: absolute;
				top: 20%;
				right: 30%;
				bottom: 0;
				left: 30%;
				border-radius: 30%/5%;
				z-index: 1;
				transition: all $transition;
}

//基座
.stem {
				position: absolute;
				bottom: 0;
				width: 60%;
				left: 20%;
				height: 14%;
				top: 89%;
				background: repeating-linear-gradient(-15deg,$color-stem, $color-stem 9%, $color-stem-dark 10%, $color-stem-dark 20%);
				z-index: 2;

				&:before {
								content: '';
								display: block;
								position: absolute;
								top: 100%;
								left: 10%;
								width: 80%;
								background: $color-stem-dark;
								height: 5px;
				}

				&:after {
								content: '';
								display: block;
								position: absolute;
								top: 0;
								right: 0;
								bottom: -5px;
								left: 0;
								background: rgba($color-bg, .9);
				}
}

body.on {
				.switch {
								background: $color-switch;
				}
				.toggle {
								&:before {
												background: darken($color-switch, 10%);
								}
								&:after {
												background: $color-switch;
								}
				}

				.wrapper {
								background: $color-bg-light;
				}
				.glass {
								background: rgba($color-bulb, .8);
								opacity: .8;
								box-shadow: 0 0 2rem $color-switch;
				}

				.filament {
								border-color: $color-light;
								box-shadow: 0 0 4rem rgba($color-light, .5);
								animation: pulse 3s infinite;
				}
				.stem {
								&:after {
												opacity: 0;
								}
				}
}

@keyframes pulse {
				50% {
								box-shadow: 0 0 3rem rgba($color-light, 1);
				}
}
